---
layout: default
---

<h3 class="page-heading">Projects</h3>

<div class="pure-g">
    {% for project in site.data.projects %}
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="project">
            <h3 class="styled">{{ project.name }}</h3>
            <div class="badges">
                {% if project.repo %}<a class="badge" href="{{project.repo}}"><i class="fa fa-github"></i></a>{% endif %}
                {% if project.site %}<a class="badge" href="{{project.site}}"><i class="fa fa-globe"></i></a>{% endif %}
            </div>
            <div class="description">{{ project.desc }}</div>
        </div>
    </div>
    {% endfor %}
</div>