<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Arthur's Web Corner</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
    <script src="https://use.fontawesome.com/1231a202ff.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="pure-g">
        <div class="sidebar pure-u-1">
            <span class="header">Arthur's Web Corner</span>
            <nav>
                {% for item in site.data.pages %}
                    <a class="item pure-menu-link {% if page.name == item.url %}pure-menu-selected{% endif %}" href="/{{ item.url }}">{{ item.name }}</a>
                {% endfor %}
            </nav>
        </div>
        <div class="content pure-u-1">
            {{ content }}
        </div>
    </div>
    <footer>
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss" aria-hidden="true"></i></a>
    </footer>
</body>

</html>